body {
    font-family: Verdana, sans-serif;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
}

.top-left {
    position: absolute;
    top: 2px;
    left: 18%;
    font-size: 3vw;
    font-weight: bold;
    color: white;
}

#songTable {
    width: 90%;
    font-size: 11pt;
    margin: auto;
    padding: 0px;
}

#bannerDiv {
    color: blue;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /*Stay in place*/
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    margin-left: 40%;
    width: 25%;
    height: 80%;
    /*overflow: auto;
     Enable scroll if needed 
    background-color: rgb(0, 0, 0);
    /* Fallback color 
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: #f5f5f5;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#modalImage {
    max-width: 90%;
    max-height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#modalTitle {
    color: darkblue;
    /*background-color: blue;*/
    font-size: 1.5vw;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

button {
    padding: 0.6em 2em;
    border-radius: 8px;
    color: #fff;
    font-size: 1.1em;
    border: 0;
    cursor: pointer;
    margin: 1em;
}



tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .05);
}